/*! instruction.css v0.0.1 | MIT License | https://github.com/chantastic/instruction.css */

[data-instruction-id] {
  cursor: pointer;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

[data-instruction] {
  visibility: hidden;
}

[data-instruction~="open"] {
  visibility: visible;
}
