/*! instruction.css v0.0.4 | MIT License | https://github.com/chantastic/instruction.css */

/*
 * well shit. I had inteded to build this all in CSS
 * but I don't believe in behavioral-CSS anymore.
 */

[data-instruction] {
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

/* sample instruction box */
[data-instruction] > * {
    padding: 20px;
}
